body{
    background-color:lightblue;
  }
  h1{
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;  
  color:red;
  }
  .aLLam{
   font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    color:black;
  }
  canvas{
    background-color : red;
    width:500px;
    height:470px;
  }